.task {
  width: 100%;
  background-color: #b7b7b7;
  border-radius: 2px;
  margin-bottom: .5rem;
  padding: 1rem 2rem;
  height: auto;
  position: relative;

  &-reminder {
    position: absolute;
    top: 0;
    left: 0;
    width: .4rem;
    height: 100%;
    background-color: #326dee;
  }

  &-header {
    font-weight: 600;
    font-size: 1.4rem;
  }

  &-day {
    font-size: 1.2rem;
  }

  &-remove {
    color: red;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}


